*{
    margin: 0;
}

body {
    background-color: #ffffff;
    color: #fff;
}

header {
    background-color: #0d016c;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
}

header .logo {
    font-style: inherit;
    font-size: 35px;
    color: gold;
}


main {
    max-width: 75%;
    margin: 20px auto;
    padding: 15px;
    background-color: rgb(35, 34, 34);
    border-radius: 5px;
}
body{
    background-image: url(https://cms.brawlhalla.com/c/uploads/2025/10/AllUnlocked_1920x1080-1.jpg);
    
}

.brawlers{
    display: flex;
    justify-content: center;
}
.brawlers img{
    margin: 0 auto;
    max-width: 1000px;
    margin: 10px;


}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0d016c;
    color: gold;
    font-size: 14px;
}

